<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
   
    
    
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="NewBehavior0">
                    <dataContractSerializer maxItemsInObjectGraph="6553500" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="server.Service">
                <endpoint address="http://localhost:8080/Service" binding="basicHttpBinding"
                    bindingConfiguration="" name="ServiceEndpoint" contract="ShapeInterfaces.IService" />
                <host>
                    <timeouts closeTimeout="00:01:00" />
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>